<h2>Witamy w systemie</h2>
<br/>
  <h3>Strona główna</h3>
      <p>Aby powrócić do strony głównej, kliknij na przycisk <%= link_to 'Strona główna', :action => "index" %> z poziomu menu</p>

            <h3>Rejestracja wizyty</h3>
            <p>Aby zarejestrować się na wizytę, w wybranym przez siebie terminie do danego lekarza wybierz <%= link_to 'Rejestracja wizyty', :action => "specialization_selection" %></p>

            <h3>Odwołanie wizyty</h3>
            <p>W celu odwołania wcześniej zarejestrowanej wizyty, wybierz <a href="#">Odwołanie wizyty</a></p>

            <h3>Historia wizyt</h3>
            <p>Aby sprawdzić historię swoich wizyt wybierz <a href="#">Historia wizyt</a> </p>

            <h3>Harmonogram przyjęć</h3>
            <p>Aby przeglądać harmonogram przyjęć wybranego lekarza wybierz <a href="#">Harmonogram przyjęć</a></p>
            
            <h3>Ustawienia konta</h3>
            <p>W celu modyfikacji ustawień swojego konta wybierz <a href="#">Ustawienia konta</a></p>

